<html>
  <head>
    <title>Le site de La Brèche</title>
  </head>
  <body>
    <p>Hello,</p>
    <p>World !</p>
  </body>
  <h1>SITE DE LA BRÈCHE</h1>
  <div><pr>
    {% if request.user.is_authenticated %}
      Bienvenue {{ request.user.username }}</br>
      Votre espace personnel : <a href="accounts/profile/">cliquez par là</a></br>
      Se déconnecter : <a href="logout/">à la prochaine fois</a></br>
    {% else %}
      Bienvenue !
      Pas encore membre ? Cliquez ici pour vous inscrire : <a href="new_account/">register</a></br>
      Ici pour se connecter : <a href="login/">login</a></br>
    {% endif %}
  <div>
    Passer commande : <a href="commandes/search/">commande</a></br></br>
    
    Ajouter des "trucs" : <a href="add/">ici</a></br></br>
    <p>Ici les différents utilisateurs enregistrés :</p>
    <div>
      {% for user in users %}
      <p>
        pseudo : {{ user.username }}</br>
        id : {{ user.id }}</br>
        contact : {{ user.email }}</br>
        mdp : {{ user.password }}
      </p>
      {% endfor %}
    </div>
  </div>
</html>
