<html>
  <title>
    Le site de la brèche, choix d'un objet à ajouter
  </title>
  <body>
    {% if already_exists %}
    <h1>Cet item existe déjà, désolé</h1>
    {% endif  %}
    <h2>Vous voulez ajouter un item ?</h2>
    Un Livre : <a href=/add/livre/>Ajouter un livre</a></br>
    Un Auteur : <a href=/add/auteur/>Ajouter un auteur</a></br>
    Un Éditeur : <a href=/add/editeur/>Ajouter un éditeur</a></br>
    Une Langue : <a href=/add/langue/>Ajouter une langue</a></br>
    Un Genre : <a href=/add/genre/>Ajouter un genre</a></br>
    Un Thème : <a href=/add/theme/>Ajouter un thème</a></br>
    </form>
  </body>
</html>
