<html>
  <head>
    <title>Le site de la Brèche, RÉSULTATS</title>
  </head>
  <body>
    <h2>Vous voulez ajouter un item ?</h2>
    <form action="/commandes/answer/1/" method="post">
    {% csrf_token %}
      <p>
        <label for="auteur">Auteur : </label>
        <input type="text" name="auteur" id="auteur" placeholder="Tapez l'auteur qui vous intéresse" required >
      </p>
      <p>
        <label for="titre">Titre du livre : </label>
        <input type="text" name="titre" id="titre" placeholder="Tapez le titre qui vous intéresse" required >
      </p>
      <p>
        <label for="editeur">L'éditeur : </label>
        <input type="text" name="auteur" id="auteur" placeholder="Tapez l'editeur qui vous intéresse" required >
      </p>
      <p>
        <label for="theme">Theme : </label>
        <input type="text" name="theme" id="theme" placeholder="Tapez le theme qui vous intéresse" required >
      </p>
      <p>
        <label for="genre">Genre : </label>
        <input type="text" name="genre" id="genre" placeholder="Tapez le genre qui vous intéresse" required >
      </p>
      <p>
        <label for="langue">Langue : </label>
        <input type="text" name="langue" id="langue" placeholder="Tapez la langue qui vous intéresse" required >
      </p>
      <p><input type="submit" value="Valider" ></p>
    </form>
  </body>
</html>
