<html>
  <head>
    <title>Le site de La Brèche, NOUVEAU COMPTE </title>
  </head>
  <body>
    <h2>Se créer un compte :</h2>
    <form action="/register/" method="post">
      {% csrf_token %}
      <p>
        <label for="username">Votre login : </label>
        <input type="text" name="username" id="username" placeholder="Entrez votre pseudo" required >
      </p>
      <p>
        <label for="email">Votre email : </label>
        <input type="text" name="email" id="email" placeholder="Entrez votre email" required >
      </p>
      <p>
        <label for="password1">Votre mot de passe : </label>
        <input type="password" name="password1" id="password1" placeholder="Entrez votre mot de passe" required >
      </p>
      <p>
        <label for="password2">Votre mot de passe : </label>
        <input type="password" name="password2" id="password2" placeholder="Entrez votre mot de passe" required >
      </p>
      <p><input type="submit" value="Valider" ></p>
    </form>
  </body>
</html>
